#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* style for form page */

.formpage{
  border: 2px solid black;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  background-color: white;
  padding: 70px;
  position: relative;
  top: 10px;
  left: 30%;
  box-shadow: 5px 5px 8px 9px rgba(0, 0, 0, 0.5);
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 40px;
  position: relative;
  top: -45px;
}

/* style for all user data */
table{
  /* border: 1px solid black; */
  margin: auto;
  width: 50%;
  border-collapse: collapse;
}
td{
  text-align: center;
}
th,td{
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.head{
  background-color: coral;
}
tr:hover {
  background-color: coral;
}
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

td{
  font-family: Arial, Helvetica, sans-serif;
}

/* backbtn style */

.backbtn{
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100px;

  background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.backbtn:hover {
  background-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}










.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
